.color{
	color: black;
	border: 2px solid;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 100px;
	display: flex;
	flex-direction: column;
}
h2{
	color: darkred;
}

.color p{
	font-size: 15px;
}

.color h2{
	font-size: 23px;
}

.color img{
	height: 450px;
	width: 400px;
	margin:0 auto;
	padding: 100px;
}

.color h4{
	color: purple;
}

.nav{
	width: 50%;
	border: 2px solid;
	display: flex;
	margin: 0 auto;
	justify-content: space-between; 
	flex-direction: row;

}

.flex{
	height: 50vh;
	width: 50vh;
	border: 2px solid;
	display: flex;
	flex-direction: row;
}

.flexe{
	width: 30%;
	height: 30%;
	border: 2px dotted;
}
